div.container-for-elements {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-pills .nav-link.active {
    background-color: purple;
}

.btn-group-toggle>.active {
    background-color:purple;
    color:white;
}

a {
    color: black;
    cursor: pointer;
}

.btn-primary {
    display: block;
    margin: 0 auto;
    background-color: white;
    border-color: purple;
    color: black;
}

.btn-primary:hover {
    background-color: purple;
}

h3 {
    text-align: center;
}

.table td,
.table th {
    text-align: center;
}

.container {
    max-width: 1000px;
}