language: java
sudo: false
install: true
jdk: oraclejdk8


cache:
 directories:
 - '$HOME/.m2'
 - '$HOME/.sonar/cache'

addons:
  sonarcloud:
    organization: "hycom-pip"
    token:
      secure: "8c8cd60936858ad29039d8e29a8dad33bcc27b81"
  chrome: stable

script:
 - mvn test
 - mvn sonar:sonar -Dsonar.branch.name=$TRAVIS_BRANCH

#notifications:
#  email: false
