[name^=form] {
    margin: 1%;
}

[name=obligatoireSpan] {
    color:#FA787E;
}

#formulaireNouveauClient label{
    display:inline-block;
	font: 14px roboto, sans-serif;
    width:250px;
}

#formulaireNouveauClient input {
    width: 550px;
}

#formulaireNouveauClient input.ng-invalid { 
    border: 1px red solid;
}