@import "../styles/commons";

login-card {
  width: 300px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-button {
  width: 300px;
  margin-top: 10px;
}
