body, .panel {
    margin: 1%;
}

/* bord rouge sur elements invalides*/
.submitted .ng-invalid{
    border: 3px solid #B2070B;
}
.submitted .ng-valid{
    border: 1px solid #66AD71;
}
/*input:required {
  border: 1px solid #EB8383;
}
input:valid {
  border: 1px solid #9B9696;
}*/
/*FIN bord rouge sur elements invalides */

#titreApplication {
    font-size: 20px;
	/*color: #428bca;*/
}

#titreRubrique {
    font-size: 15px;
	color:#616161;
	font-weight: bold;
}

#titreRubriqueInfoClient {
    font-size: 16px;
	color:#616161;
}

.redCircle {
  height: 10px;
  width: 10px;
  background-color: #D50000;
  border-radius: 10px;
}

.greenCircle {
  height: 10px;
  width: 10px;
  background-color: #00C853;
  border-radius: 10px;
}

.panelRubrique {
	height:75vh; /* percentage of screen size*/
	overflow-y:auto;
}

.panelInfoAccueil {
	height:260px;
	overflow-y:auto;
}

/*Bootstrap button outline override*/
.btn-outline-accueil {
    background-color: white;
    color: black;
    transition: all .5s;
	font-size:17px;
	min-width:120px;
	min-height:50px;
	height:50px;
	width:160px;
	border:1px solid;
}

/* Clients (bleu) */
.btn-primary.btn-outline-accueil {
	color:#424242;
	border-color: #42a5f5;
}
.btn-primary.btn-outline-accueil:hover{
	color: #fff;
	background: #42a5f5;
}

/* Documents (marron) */
.btn-default.btn-outline-accueil {
	color:#424242;
	border-color: #a1887f;
}
.btn-default.btn-outline-accueil:hover{
	color: #fff;
    background: #a1887f;
}

/*Calendrier*/
.btn-danger.btn-outline-accueil {
	color:#424242;
    border-color: #66bb6a;
}
.btn-danger.btn-outline-accueil:hover{
	color: #fff;
    background: #66bb6a;
}

/* Factures (violet)*/
.btn-success.btn-outline-accueil {
	color:#424242;
    border-color: #9933CC;
}
.btn-success.btn-outline-accueil:hover{
	color: #fff;
    background: #9933CC;
}

/*Devis*/
.btn-warning.btn-outline-accueil {
	color:#424242;
    border-color: #f0ad4e;
}

/*Rappel*/
.btn-info.btn-outline-accueil {
	color:#424242;
    border-color: #f06292;
}
.btn-info.btn-outline-accueil:hover{
	color: #fff;
    background: #f06292;
}



/*Override pour autres couleurs des boutons outline*/
.btn-outline-accueil-plus {
    background-color: white;
    color: black;
    transition: all .5s;
	font-size:17px;
	min-width:120px;
	min-height:70px;
	width:180px;
	border:3px solid;
}

/* Rappel (gris) */
.btn-default.btn-outline-accueil-plus {
	color:#424242;
	border-color: #A8A8A6;
}
.btn-default.btn-outline-accueil-plus:hover{
	color: #fff;
    background: #A8A8A6;
}


/** Couleur des titre des tables de recherche*/
a {
    color: #424242;
}

/** modal formulaire nouveau client*/
.app-modal-new-customer .modal-dialog {
  width: 750px;
}


/**  VALIDATION FORMULAIRE*/

[name=obligatoireSpan] {
    color:#FA787E;
	font-weight:bold;
}

.labelFormulaire {
	font-weight: normal;
	height:30px;
	display: inline-block;
	/*vertical-align:bottom;*/
}

.labelFiltre {
	font-weight: normal;
}

.label-evt-accueil {
  background-color: #4297a1;
  min-width: 68px !important;
  display: inline-block !important
}
.label-evt-accueil[href]:hover,
.label-evt-accueil[href]:focus {
  background-color: #4297a1;
}

/* Label Location ROUGE*/
.label-evt-accueil-location {
  background-color: #D50000;
  min-width: 68px !important;
  display: inline-block !important
}
.label-evt-accueil-location[href]:hover,
.label-evt-accueil-location[href]:focus {
  background-color: #D50000;
}

/* Label Mariage BLEU*/
.label-evt-accueil-mariage {
  background-color: #0277BD;
  min-width: 68px !important;
  display: inline-block !important
}
.label-evt-accueil-mariage[href]:hover,
.label-evt-accueil-mariage[href]:focus {
  background-color: #0277BD;
}

/* Label repas VERT*/
.label-evt-accueil-repas {
  background-color: #4CAF50;
  min-width: 68px !important;
  display: inline-block !important
}
.label-evt-accueil-repas[href]:hover,
.label-evt-accueil-repas[href]:focus {
  background-color: #4CAF50;
}

/* Label chambre violet*/
.label-evt-accueil-chambre {
  background-color: #AA00FF;
  min-width: 68px !important;
  display: inline-block !important
}
.label-evt-accueil-chambre[href]:hover,
.label-evt-accueil-chambre[href]:focus {
  background-color: #AA00FF;
}

/* Label liberte marron*/
.label-evt-accueil-liberte {
  background-color: #8D6E63;
  min-width: 68px !important;
  display: inline-block !important
}
.label-evt-accueil-liberte[href]:hover,
.label-evt-accueil-liberte[href]:focus {
  background-color: #8D6E63;
}

.label-post-it-accueil {
  background-color: #f0b015;
  min-width: 68px !important;
  display: inline-block !important
}
.label-post-it-accueil[href]:hover,
.label-post-it-accueil[href]:focus {
  background-color: #f0b015;
}


.label-etat-evt-annule{
  color: #cc3300;
  background-color: transparent;
  min-width: 100px !important;
  font-size: 15px;
  font-weight: normal;
}

.label-etat-evt-pre-reserve{
  color: #0033cc;
  background-color: transparent;
  min-width: 100px !important;
  font-size: 15px;
  font-weight: normal;
}

.label-etat-evt-confirme{
  color: #1fad1f;
  background-color: transparent;
  min-width: 100px !important;
  font-size: 15px;
  font-weight: normal;
}


select#listeEtatEvenement {
    background-color: #111;
    line-height:30px;
	width : 100px;
    color:#fff;
    outline:none;
} 
	
/* Couleur de fond du jour du calendrier sléectionné */
.cal-day-open{
    background: #ffcccc; 
}


.btn-creation { 
  color: #ffffff; 
  background-color: #64A1BF; 
  border-color: #4D94B8; 
} 
 
.btn-creation:hover, 
.btn-creation:focus, 
.btn-creation:active, 
.btn-creation.active, 
.open .dropdown-toggle.btn-creation { 
  color: #ffffff; 
  background-color: #3087B3; 
  border-color: #4D94B8; 
} 
 
.btn-creation:active, 
.btn-creation.active, 
.open .dropdown-toggle.btn-creation { 
  background-image: none; 
} 
 
.btn-creation.disabled, 
.btn-creation[disabled], 
fieldset[disabled] .btn-creation, 
.btn-creation.disabled:hover, 
.btn-creation[disabled]:hover, 
fieldset[disabled] .btn-creation:hover, 
.btn-creation.disabled:focus, 
.btn-creation[disabled]:focus, 
fieldset[disabled] .btn-creation:focus, 
.btn-creation.disabled:active, 
.btn-creation[disabled]:active, 
fieldset[disabled] .btn-creation:active, 
.btn-creation.disabled.active, 
.btn-creation[disabled].active, 
fieldset[disabled] .btn-creation.active { 
  background-color: #64A1BF; 
  border-color: #4D94B8; 
} 
 
.btn-creation .badge { 
  color: #64A1BF; 
  background-color: #ffffff; 
}