#block-body{
    width: 1035px;
    height: auto;
    margin: 0 auto;
}
#block-header{
    width: 1035px;
    height: auto;
}
#block-right{
    width: 220px;
    height: auto;
    float: right;
}
#block-content{
    width: 800px;
    height: auto;
}
#header-top-block {
    width: 1035px;
    height: 35px;
}
#top-line{
    background: url(../imj/line.png);
    width: 1030px;
    height: 5px;
}

#header-top-block ul li{
    list-style-type: none; /* Убираем маркеры */
}
#block-footer {
    width: 1035px;
    height: 160px;
    margin-top: 10px;
    clear: both;
}
#header-top-menu li{
    font: 15px sans-serif;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #E3E3E3;/*разделительная черта м/у списком*/
}
#header-top-menu a{
    font: 15px sans-serif;
    color: #00678C;
    text-decoration: none;
}
#header-top-menu a:hover{ /*изменяем цвет при наведении*/
    color: #EF662B;
    border-bottom: 1px dashed #EF662B;
}
#header-top-menu span{ /*изменяем цвет при наведении*/
    color: #EF662B;
    border-bottom: 1px dashed #EF662B;
}

#reg-auth-title{
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}
#reg-auth-title a#activ-button{
    background: url(../imj/auth-butt-bg-click.png);
}
a.top-auth{
    margin-right: 10px;
    margin-top: 10px;
    font: 13px sans-serif;
    font-weight: bold;
    border: 1px solid #E9EAEA;
    padding: 4px 8px;
    background:url(../imj/auth-butt-bg.png);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
}
.top-auth:hover{
    background:url(../imj/auth-butt-bg-move.png);
}
#reg-auth-title a{
    font: 14px sans-serif;
    text-decoration: none;
    color:#EF662B;
    margin-left: 10px;
    border-bottom: 1px dashed #EF662B;
}
#reg-auth-title a:hover{
    border-bottom:none;
}
#img-logo{
    margin-top: 12px;
    position: absolute;
}
#personal-info {
    width: 300px;
    margin-left: 730px;
    margin-top: 7px;
}
#personal-info p{
    font: 15px sans-serif;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-right: 45px;
}
#personal-info h3{
    font:bold 20px Verdana;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 45px;
}
#personal-info img{
    margin-left: 265px;
    margin-top: -45px;
    position: absolute;
}
#block-search{
    width: 345px;
    height: auto;
    margin-left: 700px;
    margin-top: 23px;
}
#block-search input#input-search{
    width: 245px;
    height: 26px;
    border: solid 1px #E1E1E2;
    font: 14px sans-serif;
    padding-left: 25px;

}
#button-search{
    width: 58px;
    height: 31px;
    border: 1px solid #E1E1E2;
    background: url(../imj/grd-button-search-norm.png);
    margin-left: -5px;
    cursor: pointer;
}
#button-search:hover{
    background: url(../imj/grd-button-search-hover.png);
}
#block-search span{
    width: 13px;
    height: 13px;
    background: url(../imj/icon-search.png);
    position: absolute;
    margin-top: 9px;
    margin-left: 6px;
}
#top-menu{
    width: 1035px;
    height: 45px;
    margin-top: 5px;
}
#top-menu li{
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}
#top-menu a{
    font: 15px sans-serif;
    color: #34659D;
    margin-left: 4px;
    margin-right: 3px;
    text-decoration: none;
    border-bottom: 1px dashed #34659D;
}
#top-menu a:hover{
    color: #EF662B;
}
#top-menu img{
    float: left;
    margin-top: -7px;
}
#block-basket{
    margin-top: 0px;
    padding-top: 7px;
    margin-right: -3px;
    /*margin-left: 880px;*/
}
#block-basket a{
    font: bold 15px sans-serif;
    text-decoration: none;
    margin-left: 40px;
    border-bottom: 1px dashed #34659D;
    color: black;
}
#block-basket a:hover{
    border-bottom:none;
    color: black;
}
#block-basket img{
    position: absolute;
    margin-top: -3px;
}
#nav-line{
    background: url(../imj/line.png);
    width: 1030px;
    height: 5px;
    margin-top: -3px;
}
#block-category{
    width: 220px;
    height: auto;
}
.header-title{
    font: 14px sans-serif;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    background: url(../imj/grd-title.png);
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
}
#block-category > ul > li{
    border-bottom: 1px solid #EFEFEF;
}
#block-category > ul > li > a{
    font: 15px sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    display: block;
    cursor: pointer;
}
#block-category > ul > li > a:hover{
    background-color: #EEEEEE;
}
#mobile-image{
    position: absolute;
    margin-left: -26px;
    margin-top: -3px;
}
#book-image{
    position: absolute;
    margin-left: -28px;
    margin-top: -2px;
}
#table-image{
    position: absolute;
    margin-left: -28px;
    margin-top: -2px;
}
.category-section{
    margin-left: 25px;
    margin-bottom: 5px;
}
.category-section li{
    margin-top: 3px;
}
.category-section a{
    font: 15px sans-serif;
    text-decoration: none;
    color: black;
}
.category-section a:hover{
    text-decoration: underline;
}
#block-parameter{
    width: 220px;
    margin-top: 10px;
    height: auto;

}
.title-filter{
    font: bold 14px sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
}
#block-input-price li{
    float: left;
    margin-left: 10px;
}
#block-input-price input{
    width: 45px;
    height: 20px;
    font: 14px sans-serif;
    border: solid #DCDCDC;
    padding-left: 3px;
}
#block-input-price p{
    font: 14px sans-serif;
    float: left;
    margin-top: 0;
    padding-top: 2px;
}
#block-track-bar{
    width: 220px;
    height: 20px;
    border: 1px solid black;
    margin-top: 20px;
    clear: both;
}
.check-box-brand li{
    font: 14px sans-serif;
    margin-left: 5px;
    margin-top: 3px;
}
.check-box-brand input{
    margin-right: 8px;
}
#button-param-search{
    width: 81px;
    height: 27px;
    background: url(../imj/button-search-norm.png);
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
#button-param-search:hover{
    background: url(../imj/button-search-hover.png);
}
#button-param-search:active{
    background: url(../imj/button-search-active.png);
}
.fig{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}
#block-news{
    width: 220px;
    height: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
#newsticker{
    width: 220px;
    border-top: 1px solid #DDDDDD;
    overflow: hidden;
}
#newsticker p{
    font: 14px sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}
#newsticker li{
    border-bottom: 1px solid #DDDDDD;
    padding-top: 15px;
    padding-bottom: 15px;
}
#newsticker a{
    color: #EF662B;
    font: bold 14px sans-serif;
    text-decoration: none;
}
#newsticker a:hover{
    text-decoration: underline;
}
#newsticker span{
    font: 13px sans-serif;
    padding-bottom: 5px;
    color: #636363;
    display: block;
}
#news-prev{
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
#news-next{
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
#footer-phone{
    width: 270px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
#footer-phone h4{
    font: bold 16px sans-serif;
    margin: 0px;
}
#footer-phone h3{
    font: bold 23px sans-serif;
    margin: 5px 0px;
}
#footer-phone p{
    font:  15px sans-serif;
    margin: 5px 0px;
}
.footer-list{
    width: 200px;
    float: left;
    margin-left: 10px;
}
.footer-list li{
    margin-top: 5px;
}
.footer-list p{
    font: bold 14px sans-serif;
    margin-bottom: 10px;
    color: #641B74;
}
.footer-list a{
    font: 14px sans-serif;
    text-decoration: none;
    color: #7B7B7B;
}
.footer-list a:hover{
    text-decoration: underline;
}
#bottom-line{
    background: url(../imj/line.png);
    width: 1035px;
    height: 5px;
}
#nav-breadcrumbs{
    margin-top: 5px;
}
#nav-breadcrumbs a{
    font:  14px sans-serif;
    color: #4268B1;
}
#nav-breadcrumbs a:hover{
    color: #E20000;
}
#nav-breadcrumbs span{
    font:  14px sans-serif;
    color: #7F868E;
}
#block-sorting{
    height: 60px;
    border-bottom: 1px solid #EEEEEE;
}
#options-list > li{
    float: left;
    margin-left: 10px;
    font:  14px sans-serif;

}
#options-list img{
    margin-top: -4px;
    cursor: pointer;
}
#options-list{
    margin-left: -10px;
}
#options-sort > li{
    float: left;
    margin-left: 10px;
    font:  14px sans-serif;
}
#select-sort{
    color: #748996;
    text-decoration: underline;
    cursor: pointer;
}

#sorting-list{
    border: 1px solid #A3C0D2;
    position: absolute;
    width: 200px;
    height: 108px;
    background-color: white;
    padding-top: 5px;
    /*display: none;*/
}
#sorting-list li{
    margin-top: 3px;
    margin-left: 10px;
}
#options-sort a{
    font:  14px sans-serif;
    text-decoration: none;
    color: black;
}
#options-sort a:hover{
    color: red;
    text-decoration: underline;
}
#sorting-list span{
    font:  14px sans-serif;
    text-decoration: none;
    color: black;
}
#sorting-list span:hover{
    text-decoration: underline;
}

#block-tovar-grid > li{
    width: 380px;
    height: 230px;
    float: left;
    padding-left: 10px;
    margin-top: 15px;
}
.style-title-grid{
    margin-top: 0px;
    margin-bottom: 0px;
}
.style-title-grid a{
    font: bold 15px sans-serif;
    color: #0A83AB;
    text-decoration: underline;
}
.style-title-grid a:hover{
    color: #E26666;
}
.reviews-and-counts-grid{
    height: 20px;
    margin-top: 5px;
}
.reviews-and-counts-grid > li{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
.reviews-and-counts-grid > li > p{
    margin-left: 25px;
    font: 12px sans-serif;
    margin-top: -1px;
    margin-bottom: 0px;
}
.reviews-and-counts-grid > li >img{
    position: absolute;
}
.style-price-grid{
    margin-top: 7px;
    font: 16px sans-serif;
}
.style-price-grid strong{
    font: 23px sans-serif;
    color: #6B6D73;
}
.add-cart-style-grid{
    width: 48px;
    height: 25px;
    display: block;
    cursor: pointer;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    background: url(../imj/add-cart-norm.png);
}
.add-cart-style-grid:hover{
    background: url(../imj/add-cart-hover.png);
}
.add-cart-style-grid:active{
    background: url(../imj/add-cart-active.png);
}
.mini-features{
    font: 14px/18px sans-serif;
    margin-top: 10px;
}
/*#block-tovar-list {*/
/*display: none;*/
/*}*/
#block-tovar-list > li {
    border-bottom: 1px solid #E6E6E6;
    min-height: 160px;
    height: auto;
    margin-top: 15px;
    padding-bottom: 5px;
}
.reviews-and-counts-list{
    position: absolute;
    margin-left: 670px;
}
.reviews-and-counts-list > li{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
.reviews-and-counts-list > li > p{
    margin-left: 25px;
    margin-top: -1px;
    font: 13px sans-serif;
}
.reviews-and-counts-list > li > img{
    position: absolute;
}
.style-title-grid{
    margin-top: 0px;
    margin-bottom: 0px;
}
.style-title-list a{
    font: bold 15px sans-serif;
    color: #0A83AB;
    text-decoration: underline;
}
.style-title-list a:hover{
    color: #E26666;
}
.reviews-and-counts-list{
    height: 20px;
    margin-top: 5px;
}
.add-cart-style-list{
    width: 48px;
    height: 25px;
    display: block;
    cursor: pointer;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    background: url(../imj/add-cart-norm.png);
}
.add-cart-style-list:hover{
    background: url(../imj/add-cart-hover.png);
}
.add-cart-style-list:active{
    background: url(../imj/add-cart-active.png);
}
.style-price-list{
    font: 15px sans-serif;
    margin-top: 10px;
}
.style-price-list > strong{
    font: 20px sans-serif;
    color: #6B6D73;
}
.style-text-list{
    font: 15px sans-serif;
    margin: 0px;
}
.h2-title{
    font: 25px sans-serif;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 3px;
}
#block-form-registration{
    height: auto;
}
#form-registration{
    margin-top: 30px;
}
#form-registration li{
    margin-top: 10px;
}
#form-registration >li>input{
    height: 30px;
    width: 320px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
    color: black;
    border: 1px solid #ABABAB;
    border-right-color: #DDDDDD;
    border-bottom-color: #DDDDDD;
}
#form-registration>li>label{
    position: absolute;
    font: 15px sans-serif;
    margin-top: 7px;
}
.star{
    font: 16px sans-serif;
    color: #E35903;
    position: absolute;
    margin-left: 188px;
    margin-top: 10px;
}
#gen_pass{
    font: bold 13px sans-serif;
    text-decoration: underline;
    color: black;
    cursor: pointer;
    margin-left: 5px;
}
#gen_pass:hover{
    text-decoration: none;
}
#form-registration>li>input#reg_login,
#form-registration>li>input#reg_pass{
    height: 30px;
    width: 200px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
    color: black;
    border: 1px solid #ABABAB;
    border-right-color: #DDDDDD;
    border-bottom-color: #DDDDDD;
}
#form-registration>li>input:focus,
#form-registration>li>input#reg_login:focus,
#form-registration>li>input#reg_pass:focus,
#bloc-captcha > input#reg_captcha:focus {
    border: solid #C4E1EB;
}
#bloc-captcha{
    position: absolute;
    margin-left: 200px;
    height: 70px;
}

#bloc-captcha > input#reg_captcha{
    height: 30px;
    width: 100px;
    font: 19px sans-serif;
    margin-left: 15px;
    padding-left: 5px;
    margin-top: 8px;
    color: black;
    border: 1px solid #ABABAB;
    border-right-color: #DDDDDD;
    border-bottom-color: #DDDDDD;
}
#bloc-captcha img{
    float: left;
}
#bloc-captcha p {
    margin-top: 0px;
    font: bold 13px sans-serif;
    text-decoration: underline;
    cursor: pointer;
}
#bloc-captcha p:hover {
    text-decoration: none;
}
#form_submit{
    background: url(../imj/grd_reg_button.png);
    border: 1px solid #E4E4E4;
    font: bold 13px sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    height: 33px;
    cursor: pointer;
    margin-top: -15px;
    margin-right: 15px;
}
#form_submit:active{
    background: url(../imj/grd_reg_button_vert.png);
}
.error{
    font: italic 14px sans-serif;
    color: #CC0063;
    margin-left: 5px;
}
.reg_message_good{
    font: 18px sans-serif;
    color: black;
    background-color: #EDEDFF;
    border: 1px solid #E6E6FE;
}

#reg_message{
    width: 800px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}
.reg_message_error{
    font: bold 14px sans-serif;
    color: red;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
}
#block-top-auth{
    border: 1px solid #DBDBDB;
    width: 210px;
    height: auto;
    margin-left: 719px;
    margin-top: -10px;
    background-color: white;
    position: absolute;
    z-index: 9999;
    -moz-box-shadow:0 0 15px #DBDBDB;
    -webkir-box-shadow: 0 0 15px #DBDBDB;
    -box-shadow:0 0 15px #DBDBDB ;
    display: none;
}
.corner{
    background: url(../imj/bulleticon.png);
    width: 19px;
    height: 10px;
    margin-left: 175px;
    margin-top: -9px;
}
#input-login-pass h3{
    font: 15px sans-serif;
    margin: 10px;
}
#message-auth{
    font: bold 13px sans-serif;
    margin-top: 10px;
    padding: 10px;
    background-color: #FDE7E7;
    color: red;
    display: none;
}
#input-login-pass > li{
    margin-top: 7px;
    align-items: center;
}
#input-login-pass  input#auth_login{
    width: 180px;
    height: 25px;
    font: 15px sans-serif;
    border: 1px solid #DBDBDB;
    padding-left: 5px;
    margin-left: 10px;

}
#input-login-pass  input#auth_pass{
    width: 180px;
    height: 25px;
    font: 15px sans-serif;
    border: 1px solid #DBDBDB;
    padding-left: 5px;
    margin-left: 10px;
}
.pass-show{
    background: url(../imj/open_eye.png) no-repeat;
    width: 18px;
    height: 11px;
}
.pass-hide{
    background: url(../imj/eye_closed.png) no-repeat;
    width: 20px;
    height: 10px;
}
#input-login-pass span{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    margin-left: -28px;
}
#list-auth{
    margin-top: 12px;
}
#list-auth li{
    margin-top: 5px;
    margin-left: 10px;
    font: 14px sans-serif;
}
#list-auth a{
    color: black;
    margin-left: 3px;
    border-bottom: 1px dashed black;
    text-decoration: none;
}
#list-auth a:hover{
    border-bottom: none;
}
#button-auth a,#button-remind a{
    margin-right: 10px;
    cursor: pointer;
    background: url(../imj/button-grd.png) repeat-x;
    font:bold 13px sans-serif;
    padding: 5px 10px;
    border: 1px solid #E8E8E8;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
}

#button-auth a:hover,#button-remind a:hover{
    background: url(../imj/button-grd-hover.png) repeat-x;
}
#button-auth a:active,#button-remind a:active{
    background: url(../imj/button-grd-active.png) repeat-x;
}
.auth-loading{
    margin-right: 30px;
    margin-top: 20px;
    display: none;
}
#auth-user-info{
    font:bold 14px sans-serif;
    margin-top: 10px;
    float: right;
    margin-right: 20px;
}
#auth-user-info:hover{
    color: #CF3A3A;
    border-bottom: 1px dashed #CF3A3A;
    cursor: pointer;
}
#auth-user-info > img{
    position: absolute;
    margin-left: -30px;
    margin-top: -3px;
}
#block-remind h3{
    font: 15px sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#block-remind input{
    width: 150px;
    height: 25px;
    border: solid #BDBDBD;
    font: 15px sans-serif;
    padding-right: 5px;
    padding-left: 30px;
}
#block-user{
    border: solid 1px #BDBDBD;
    width: 140px;
    height: 60px;
    position: absolute;
    z-index: 7;
    margin-left: 860px;
    margin-top: -3px;
    background-color: white;
    display: none;
    -moz-box-shadow: 0 0 15px #DBDBDB;
    -webkit-box-shadow: 0 0 15px #DBDBDB;
    box-shadow: 0 0 15px #DBDBDB;
}
.corner2{
    background: url(../imj/bulleticon.png);
    width: 19px;
    height: 10px;
    margin-top: -9px;
    margin-left: 60px;
}
#block-user ul{
    margin-top: 10px;
}
#block-user li{
    margin-left: 8px;
    margin-top: 6px;
}
#block-user a{
    text-decoration: none;
    font: 13px bold sans-serif;
    color: #57678C;
}
#block-user a:hover{
    border-bottom: 1px dashed #EF662B;
    color: #EF662B;
    cursor: pointer;
}
#block-user img{
    float: left;
    margin-right: 8px;
}
#block-step{
    height: 70px;
    border-bottom: 1px solid #E0E0E0;
    margin-top: 10px;
}
#block-step>p{
    font: 19px sans-serif;
    color: #646464;
    margin-top: 8px;
    margin-left: 15px;
    position: absolute;
}
#block-step >a{
    position: absolute;
    border: solid 1px #D98386;
    font: bold 13px sans-serif;
    padding: 4px 7px;
    margin-top: 5px;
    margin-left: 700px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #DA2027 ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#name-step{
    height: 30px;
}
#name-step li{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#name-step ul> li> a{
    color: #00658B;
    font: bold 14px sans-serif;
    text-decoration: none;
}
#name-step a:active{
    color: #EF662B;
    font: bold 14px sans-serif;
    border-bottom: 1px dashed #EF662B;
}
#header-list-cart{
    height: 30px;
    border-bottom: solid 1px #DBDBDB;
}
#header-list-cart >div{
    float: left;
    margin-left: 5px;
    text-align: center;
    font: 13px sans-serif;
    color: #6D6D6D;
    margin-top: 7px;
}
#head1{    width:530px ;}
#head2{    width: 55px;}
#head3{    width: 140px;}
.block-list-cart{
    height: 130px;
}
.block-list-cart > div{
    float: left;
    margin-left: 5px;
}
.title-cart{
    width: 530px;
    height: 125px;
}
.count-cart{
    width: 55px;
    height: 125px;
}
.price-product{
    width: 140px;
    height: 125px;
}
.delete-cart{
    height: 125px;
}
.title-cart > p{
    margin-top: 15px;
}
.title-cart > p > a{
    font: 15px sans-serif;
    color: #097A9F;
}
.title-cart > p > a:hover{
    text-decoration: none;
}
.input-count-style{
    margin-top: 31px;
}
.input-count-style input{
    text-align: center;
    border: 1px solid #DDDDDD;
    width: 32px;
    height: 22px;
    font: 15px sans-serif;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.input-count-style p{
    cursor: pointer;
    font: 15px sans-serif;
    margin: 1px;
}
.price-product p{
    margin-left: 15px;
    margin-top: 65px;
    font: bold 18px sans-serif;
}
.price-product h5{
    position: absolute;
    font: bold 13px sans-serif;
    margin-top: 42px;
    margin-left: 15px;
    color: #848484;
}
.delete-cart img{
    margin-top: 50px;
}
.button-next{
    margin-top: 30px;
    margin-right: 20px;
}
.button-next > a{
    border: 1px solid #B0C181;
    font:15px sans-serif;
    color: white;
    padding: 6px 18px;
    text-decoration: none;
    background: url(../imj/grd-next.png);
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
}
#bottom-cart-line{
    background: url(../imj/bottom-line.png);
    height: 5px;
    width: 790px;
    margin: 0px auto;
}
.itog-price{
    font: 20px sans-serif;

}
.itog-price > strong{
    font:18px sans-serif;
}
#clear-cart{
    font: 22px sans-serif;
    margin-top: 40px;
}
.message_good{
    width: 800px;
    font: 18px sans-serif;
    color: black;
    background-color: #EDEDFF;
    border: 1px solid #E6E6FE;
}

#message{
    width: 800px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}
.message_error{
    width: 800px;
    font: bold 14px sans-serif;
    color: red;
    background-color: #F7EDEF;
    border: 1px solid #FAC8D3;
}
#block-content-info{
    height: 320px;
    margin-top: 15px;
}
#block-content-info img{
    float: left;
    margin-top: 0px;
    margin-right: 15px;
}
#block-mini-description{
    width: 600px;
    float: left;
}
#content-title{
    font: 19px sans-serif;
    margin: 0;
}
#content-text{
    font: 15px sans-serif;
    margin-top: 10px;
}

.reviews-and-counts-content{
    height: 20px;
    margin-top: 10px;
}

.reviews-and-counts-content img{
    position: absolute;
}
#style-price{
    font: 23px sans-serif;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-cart{
    width: 88px;
    height: 27px;
    display: block;
    cursor: pointer;
    background: url(../imj/button-buy-norm.png) no-repeat;
}
.add-cart:hover{
    background: url(../imj/button-buy-active.png) no-repeat;
}
.add-cart:active{
    background: url(../imj/button-buy-click.png) no-repeat;
}